#events-page{
  background-color: $background-color;
  padding-top: 100px;
  padding-bottom: 150px;
  .event-section {
    padding-left: 10%;
    padding-right: 10%;
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    @media screen and (max-width: $mobile - 1){
      padding-left: 1%;
      padding-right: 1%;
    }
    .heading{

      h1{
        text-align: center;
        color: white;
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 25px;
      }
      p{
        color: white;
        text-align: center;
      }
    }
    .event{
      background-color: $event-card-color;
      padding-left: 0;
      padding-right: 0;
      .event-card{
        background-color: $event-card-color;
        // padding-top: 20px;
        padding-bottom: 20px;

          img{
            width: 100%;
            height: 300px;
          }

      }
      .event-card-content{
        padding: 25px;
        .title{
          font-size: 20px;
          font-weight: bold;
          margin: 0;
          margin-bottom: 15px;
          text-align: center;

        }
        .hosted-by{
          font-size: 13px;
          color: $gray-color;
          margin: 0;
          text-align: center;
          .event-type{
            color: black;
            font-weight: bold;
          }
        }
        .date{
          font-size: 16px;
          color: $gray-color;
          margin: 0;
          text-align: center;

        }
        .location{
          font-size: 13px;
          color: $gray-color;
          margin: 0;
          text-align: center;

        }
        .register{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-top: 25px;
          margin-bottom: 25px;
          button{
            text-transform: uppercase;
          }
        }

        .event-details{
          margin-top: 15px;
          padding: 3px;
          padding-top: 5px;
          font-size: 14px;
          color: $event-details-color;
        }

        .agenda{
          h1{
            font-size: 18px;
            text-transform: uppercase;
          }
          ul{
            padding: 0;
            margin: 0;
            li{
              display: flex;
              flex-direction: row;
              .time{
                width: 30%;
                font-weight: bold;
                text-align: center;
                color: #505050;
              }
              .title{
                font-size: 15px;
                text-align: left;
                font-weight: normal;
                width: 70%;
                text-transform: none;
                color: #505050;
              }

            }
          }
        }


      }
    }
    .event-small{
      background-color: white;
      min-height: 200px;
      margin: 5px;
      .image{
        img{
          width: 100%;
        }
      }
      .content{
        padding-bottom: 12px;
        .title{
          font-size: 20px;
          font-weight: bold;
          margin-top: 5px;
          margin-bottom: 5px;
        }
        .hosted-by, .date, .location{
          margin: 0;
          color: $gray-color;
          font-size: 13px;
        }
      }
    }
  }

}
